.msgpg,body{
	background-color: #4AF539;	
}
.msg{
	color: #fff;
	font-size: 26px;
	text-transform: uppercase;
}
.mt-25{
    margin-top: 25%;
}
.logo { 
    line-height: 85px;
}
.text-center{
    text-align: center;
}